nav a {
    text-decoration: none;
    color: green;
}

.navcur {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color:yellow; 
}

.all {
    background-color: rgb(173, 255, 255);
}

nav {
    background-color: rgb(99, 201, 201);
    float: left;
    height: 2000px;
    padding: 10px 10px;
}

p {
    text-indent: 1cm;
}

.cont {
    margin-left: 120.2px;
    margin-right: 10px;
    padding: 1px 0px;
}

nav a:hover {
    background-color: rgb(209, 47, 47);
    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(65, 53, 231);
}

h1 {
    background-color: rgb(68, 231, 53);
    margin-top: 10px;
}

.hiden{
    background-color: rgb(65, 53, 231);
    color: rgb(65, 53, 231);
}

.hiden strong:hover{
    background-color: rgb(65, 53, 231);
    color: rgb(14, 8, 95);
}